
.Customer_info
{
    margin-left: 4rem;
}


.Customer
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.Customer label
{
    color: rgb(31, 31, 190);
    font-size: 12px;
}
.Customer p
{
    color: #000;
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.Customer input
{
    border: none;
    outline: none;
    padding: 5px;
    border-left: 1px solid #000;
    margin-left: 10px;
}