.profile
{
    display: flex
    
}

.profile-contianer
{
   flex: 14;
   background-color: #fff;
   border-radius: 20px;
}


.avatar
{
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.prof-item
{
   display: flex;
   justify-content: center; 
   gap: 50px;
   margin-top: 20px;
}

.prof_options {

    display: flex;
    gap: 20px;
}

p{
    color: darkgrey;
    font-size: 25px;
}



.info
{
    color: gray;
    font-size: 20px;
}

.info:hover,.info:focus
{
 color: #000;
}

.boxs{
    padding: 20px ;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   

}

.box
{
    display: flex;
    align-content: center;
    gap: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 5px;
    width: 30%;
    
    
}

.left img
{
    width: 100px;
}


.right
{
    display: flex;
    flex-direction: column;
    width: 60%;
    
}

.box-info
{
    font-size: 15px;
}

.review
{
    display: flex;
    gap: 20px;
    align-items: center;
}


.review p 
{
    font-size: 15px;
    margin-top: 10px;
}




.icons
{
    color: gray;
    font-size: 30px;
    
}


.box
{
    border: 1px solid rgb(216, 210, 210);
    border-radius : 10px;
    
    
}



.box-info
{
    font-size: 16px;
    color: #000;
}

